*.bak
*.pyc
python3-alpha/Python-3*.tgz
python3-alpha/host
python3-alpha/host-src
python3-alpha/python-src_arm
python3-alpha/python-src_x86
python3-alpha/python3_arm
python3-alpha/python3_x86
python3-alpha/python3-extras
*.iml
.gradle
.idea
.build_*
openssl-*.tar.gz
openssl-src
openssl/Setenv-android.sh
python3-alpha/sqlite3.tar.gz
python3-alpha/sqlite3
python3-alpha/ncurses-5.9.tar.gz
python3-alpha/ncurses-5.9
python3-alpha/readline-6.3.tar.gz
python3-alpha/readline-6.3
python3-alpha/bzip2-1.0.6.tar.gz
python3-alpha/bzip2-1.0.6_arm
python3-alpha/bzip2-1.0.6_x86
python3-alpha/python3-extras/python3/__future__.py
python3-alpha/openssl/Setenv-android.sh
